<body>
    <h1>Bitte Anmeldedaten eingeben:</h1>


    <form action="/" method="post" methode="post">
        <h7>username:</h7>
        <input name="username" placeholder="username" id="username">

        <br><br>

        <h7>password:</h7>
        <input type="password" name="password" placeholder="password" id="password">

        <br><br><br><br>

        <button type="submit">anmelden</button>
    </form>

    <form action="/keinacc" method="get">
        <button type="submit">Keinen account</button>
    </form>
</body>