<style>
  body {
    display: flex;            
    flex-direction: column;     /* untereinander */
    justify-content: center;    /* vertikal  */
    align-items: center;        /* horizontal  */

  }


</style>


<body>

    <form action="/neueracc" method="post">
        <h2>Accountdaten angeben: </h2>
        <h7>username:</h7>
        <input name="username" placeholder="username" id="username">

    <br><br>

        <h7>password:</h7>
        <input name="password" placeholder="password" id="password">

    <br><br><br>

    <button type="submit">registrieren</button>

    <form>
</body>